JenilAssignment1WcfService/JenilConsole/Connected Services/ServiceReference2/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50494/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50494/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50494/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_IsPrimeNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:IsPrimeNumber" />
  </wsdl:message>
  <wsdl:message name="IService1_IsPrimeNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsPrimeNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SumOfDigits_InputMessage">
    <wsdl:part name="parameters" element="tns:SumOfDigits" />
  </wsdl:message>
  <wsdl:message name="IService1_SumOfDigits_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumOfDigitsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_reverseString_InputMessage">
    <wsdl:part name="parameters" element="tns:reverseString" />
  </wsdl:message>
  <wsdl:message name="IService1_reverseString_OutputMessage">
    <wsdl:part name="parameters" element="tns:reverseStringResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_printHTML_InputMessage">
    <wsdl:part name="parameters" element="tns:printHTML" />
  </wsdl:message>
  <wsdl:message name="IService1_printHTML_OutputMessage">
    <wsdl:part name="parameters" element="tns:printHTMLResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sortASc_InputMessage">
    <wsdl:part name="parameters" element="tns:sortASc" />
  </wsdl:message>
  <wsdl:message name="IService1_sortASc_OutputMessage">
    <wsdl:part name="parameters" element="tns:sortAScResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sortDesc_InputMessage">
    <wsdl:part name="parameters" element="tns:sortDesc" />
  </wsdl:message>
  <wsdl:message name="IService1_sortDesc_OutputMessage">
    <wsdl:part name="parameters" element="tns:sortDescResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="IsPrimeNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsPrimeNumber" message="tns:IService1_IsPrimeNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsPrimeNumberResponse" message="tns:IService1_IsPrimeNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SumOfDigits">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SumOfDigits" message="tns:IService1_SumOfDigits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SumOfDigitsResponse" message="tns:IService1_SumOfDigits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="reverseString">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/reverseString" message="tns:IService1_reverseString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/reverseStringResponse" message="tns:IService1_reverseString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="printHTML">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/printHTML" message="tns:IService1_printHTML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/printHTMLResponse" message="tns:IService1_printHTML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sortASc">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sortASc" message="tns:IService1_sortASc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sortAScResponse" message="tns:IService1_sortASc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sortDesc">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sortDesc" message="tns:IService1_sortDesc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sortDescResponse" message="tns:IService1_sortDesc_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsPrimeNumber">
      <soap:operation soapAction="http://tempuri.org/IService1/IsPrimeNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumOfDigits">
      <soap:operation soapAction="http://tempuri.org/IService1/SumOfDigits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reverseString">
      <soap:operation soapAction="http://tempuri.org/IService1/reverseString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="printHTML">
      <soap:operation soapAction="http://tempuri.org/IService1/printHTML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sortASc">
      <soap:operation soapAction="http://tempuri.org/IService1/sortASc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sortDesc">
      <soap:operation soapAction="http://tempuri.org/IService1/sortDesc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50494/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>